<button class="mat-button" mat-raised-button color="warn" (click)="openDialog() ">
  <mat-icon>add</mat-icon>
  Ajouter une chambre
</button>
<mat-form-field appearance="standard">
  <mat-label>Filtrer</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
  <br>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->


    <!-- Progress Column -->
    <ng-container matColumnDef="num">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero </th>
      <td mat-cell *matCellDef="let row"> {{row.num}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="floors">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> etage </th>
      <td mat-cell *matCellDef="let row"> {{row.floors}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix </th>
      <td mat-cell *matCellDef="let row"> {{row.price+' DHS'}} </td>
    </ng-container>

    <ng-container matColumnDef="availability">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Disponibilité </th>
      <td mat-cell *matCellDef="let row">
        <mat-icon *ngIf="row.availability" color="primary">event_available</mat-icon>
        <mat-icon *ngIf="!row.availability" color="warn">event_busy</mat-icon>
      </td>
    </ng-container>

    <!-- Fruit Column -->

    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero de tel </th>
      <td mat-cell *matCellDef="let row"> {{row.phoneNumber}} </td>
    </ng-container>


    <ng-container matColumnDef="types.name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td mat-cell *matCellDef="let row"> {{row.types.name}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="editRoom(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="deleteRoom(row.roomId)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Données introuvables "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

