.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.mat-raised-button{
  background-color: #f11b1b;
  color: white;
  width: 500px;
  height: 50px;
  font-size: 17px;
}
