<form #passwordForm="ngForm" (ngSubmit)="changePassword(passwordForm)" class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Mot de passe actuel</mat-label>
    <input ngModel type="password" matInput name="mdpA" placeholder="">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nouveau mot de passe</mat-label>
    <input ngModel type="password" name="nouveauMdp" matInput placeholder="">
  </mat-form-field>


  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Vérifier le nouveau mot de passe</mat-label>
    <input ngModel type="password" name="verifierNouveauMdp" matInput placeholder="">
  </mat-form-field>

  <p style="color:red; padding: 0; margin-bottom: 20px; align-content: center">{{message}}</p>

  <button mat-raised-button>Changer mon mot de passe</button>
</form>
